.obj_article_details .galleys_links li {
    margin-right: 0.25em;
}

li[class^="annotation_viewer-"] {
    margin-top: 8px;
    visibility: hidden;
}

li[id^="annotation_viewer-"] > a[class^="obj_galley_link"] {
    padding: 4px 8px;
    border: 1px solid rgba(0,0,0,0.54);
    border-radius: 15px;
    line-height: 20px;
    font-size: 14px;
    margin-top: 1em;
}
