.submission_annotations {
    background-color: #fafaf8;
    padding: 10px 15px;
    border-radius: 3px;
}

.submission_annotations > .title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.annotation {
    background-color: #FFF;
    font-size: 14px;
    margin: 10px 0 0 15px;
    padding: 14px;
    border-radius: 3px;
    box-shadow: 0px 2px 3px 0 rgba(0,0,0,0.2);
}

.annotation_header span {
    font-size: 13px;
    color: rgba(0,0,0,0.54);
    margin-left: 8px;
    float: right;
}

.annotation_target {
    font-style: italic;
    margin-top: 1em;
    padding: 0 1em;
    color: rgba(0,0,0,0.54);
}